WcfServicesApp/WcfServicesApp.ClientAppReferences/Service References/MainServiceClient/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8787/WcfServicesApp.WcfServiceLib/MainService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServicesApp.WcfServiceLib.DataContract" />
  <xs:element name="GetAllStaffs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStaffsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServicesApp.WcfServiceLib.DataContract" minOccurs="0" name="GetAllStaffsResult" nillable="true" type="q1:ArrayOfStaffDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaffById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaffByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServicesApp.WcfServiceLib.DataContract" minOccurs="0" name="GetStaffByIdResult" nillable="true" type="q2:StaffDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServicesApp.WcfServiceLib.DataContract" minOccurs="0" name="staffDto" nillable="true" type="q3:StaffDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServicesApp.WcfServiceLib.DataContract" minOccurs="0" name="AddStaffResult" nillable="true" type="q4:StaffDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>